<header class="header fix-nav" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container" onmouseleave="myButton1()" onclick="myButton()">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}">
        <div class="header__logo--container">
          <p>Fadil Isamotu</p>
        </div>
      </a>
      
      <nav class="header__links">
        <div class="container header__links-wrapper">
          {% for item in site.navigation %}
            <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
              <span class="items-title" itemprop="name">{{ item.name }}</span>
            </a>
          {% endfor %}
        </div>
      </nav>
      <div class="header__toggle" id="header__toggle">
        <button class="toggle_button" id="togglebutton" onmouseleave="myButton1()" onclick="myButton()">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</header>
<script>
     

 

    function myButton(){    
            document.getElementById("container-toggle").style.visibility = "hidden"
  }
  function myButton1(){      
            document.getElementById("container-toggle").style.visibility = "visible"
  }

  // Define the media query
const mediaQueryDt = window.matchMedia('(min-width: 1026px)');

// Check if the media query matches
if (mediaQueryDt.matches) {
  // Media query matches (viewport width is at least 768px)
  // Perform actions or apply styles for this condition
  function myButton1(){      
            document.getElementById("container-toggle").style.visibility = "hidden"
  }
} 
</script>
