---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

{% include head.html %}

<body class="site">

{% include header.html %}



<header class="container-toggle" id="container-toggle">
  <button id="myButton " class="my-button toggle">
  <span id="toggleButton" class="toggle-button">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </span>
</button>
</header>
<br>
<br>
<div class="container-main">
     <!-- Sidebar -->
  <div id="sidebar" class="sidebar">
    <div class="underline-flex" >
      {% for items  in site.posts %}

      {% if items.similar == "raspberry" %}
      {% if items.category == "parent" %}
      <div><a class="anchor-text" id="nav-link" href="{{ items.url | relative_url  }}"><b>{{items.title}} </a></b></div>
        <br>
        <h2>{{items.overview}}</h2>
        
        {% for i in items.parent_nav %}
        <li><b>{{i.category}}</b></li>
        <li><a class="children-nav" id="nav-link" href="{{ i.permalink | relative_url  }}">{{i.name}}</a></li>
        {% endfor %} 
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
  </div>
  
  <!-- Main content -->
  <div id="content" class="content">
    
      <article>

        {{ content }}
        {% for items  in site.posts %}

        {% if items.similar == "raspberry" %}
        {% if items.category == "parent" %}
      <span class="post-card__meta">
        <i class="fas fa-calendar-alt"></i> <span style="font-size: 15px; font-weight: bolder;">Updated:  </span><time>{{ items.date_parent | date: date_format }}</time>
      </span>
        {% endif %}
        {% endif %}
        {% endfor %} 
        <br>
        <br>
        <h4><a style="color: rgb(90, 90, 90);" href="#">back to top</a></h4>      
      </article>
  </div>  
</div>
  {% include footer.html %}

    <script>
    const toggleButton = document.getElementById('toggleButton');

toggleButton.addEventListener('click', function() {
  toggleButton.classList.toggle('active');
});

   
          var btn = document.querySelector('.toggle');
var btnst = true;
btn.onclick = function() {
  if(btnst == true) {
    document.querySelector('.toggle span').classList.add('toggle');
    document.getElementById('sidebar').classList.add('sidebarshow');
    btnst = false;
  }else if(btnst == false) {
    document.querySelector('.toggle span').classList.remove('toggle');
    document.getElementById('sidebar').classList.remove('sidebarshow');
    btnst = true;
  }
}
    </script>
</body>
</html>
